# Python cache
__pycache__
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# IDE settings
.vscode/
.idea/

# Test directories and files
tests/__pycache__
tests/*.log

# Build artifacts
*.egg-info/
.build*
.dist-info/
*.pyo
*.pyc
.pytest_cache/

# Local configuration files
.localrc
.env
